*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

#card-1{
    height: 90vh;
    width: auto;
    /* background-color:#d6e5e3; */
    background-color:#c4cbca;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px; 
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    text-transform: capitalize;
    border-radius: 10px;
    margin: 0 30px;
}
.left-side {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    cursor: pointer; 
}
.left-side #name{
    font-size: 1.8rem;
    color: #f2f2f2;
}
.left-side li{
    margin-right: 20px ;
}
.right-side li {
    padding: 0 20px;
}

#project-btn{
    background-color: #d9e0df;
    height: 40px;
    width: 90px;
   padding:10px 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 10px;
    font-size: 0.9rem;
    transition: 0.3s;
}
#project-btn:hover{
    background-color:#c4cbca;
    color: white;
}
#about-btn{
    background-color: #d9e0df;
    height: 40px;
    width: 100px;
   padding:10px 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 10px;
    font-size: 0.9rem;
    transition: 0.3s;
}
#about-btn:hover{
    background-color:#c4cbca;
    color: white;
}
.right-side {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style:none;
    cursor: pointer; 
}
.right-side li {
    margin-left: 10px;
}
#email-btn{
    background-color: #d9e0df;
    height: 40px;
    width: 80px;
   padding:10px 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 10px;
    font-size: 0.9rem;
    transition:0.3s ;
}
#email-btn:hover{
    background-color:#c4cbca;
    color: white;
}

/* header section started */
header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
}
header img{
    height: 100px;
    border-radius: 50%;
    transition: 0.3s;
    
}
header img:hover{
box-shadow: 0px 0px 20px rgb(61, 59, 59);
cursor: pointer;

}

    
header p{
    color: rgb(120, 116, 116);
    font-size: 1.4rem;
    text-transform: capitalize;
}
header  #brand{
font-size: 2rem;
color:#f2f2f2;
position: relative;
cursor: pointer;

overflow: hidden;
border-right: 5px solid #585e5b ;
white-space: nowrap;
/* animation: typing 4s infinite; */
animation-delay: 1s;
animation-fill-mode: backwards;
transition: 0.4s;
}
@keyframes typing {
    from{
        width:0px
    }
    to{
        width:100px
    }
}
header p #brand::after{
    content:" ";
    background-color: rgb(22, 27, 27);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 3px;
    transition: 0.4s ease-in-out;
}
header p #brand:hover::after{
    width: 100%;
  
}


/* section card - 2 */
#sectionCard-2{
        height: 40vh;
        width: auto;
        background-color:#585e5b;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px; 
        position: relative;
        z-index:-2;
        transform: translateY(-50px);
}
.content{
    position: absolute;
    top:80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   margin-left: 40%;
   text-transform: capitalize;
   color: #d9e0df;
}
.subcards-box i{
    font-size: 2rem;
}
.subcards-box{
    display: flex;
    margin-top: 20px; 
    justify-content: space-evenly;
}
.subcards-box .google{
    height: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 20px;
}
.subcards-box .amazone{
    height: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 20px;
}
.subcards-box .facebook{
    height: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 20px;
}
.subcards-box .apple{
    height: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.subcards-box li{
    list-style: none;
}


@media screen and (max-width: 380px){
    .left-side{
        justify-content: space-between;
        width: 380px;
        margin-left: 20px;
        margin-top: 10px;
    }
    #project-btn{
        display: none;
    }
    #header-sec{
        margin-right: 70px;
    }
    .right-side{
        display: none;
    }
    #header-sec{
        margin-left: 60px;
    }

    .content{
        margin-left: 10px;
        text-align: center;
    }
     header #brand{
        font-size: 1.9rem;
        animation: typing 2s infinite;
        animation-timing-function: ease-in-out;
        animation-direction: alternate-reverse;   
        border-right:#585e5b  ;     
    }
    .personal-info{
        height: 110vh;
        width: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: #c4cbca;
        transform: translateY(-100px);
    }
    .personal-info div{
        height: 300px;
        width: 300px;
        margin-top: 30px;
        border-radius: 30px;
    }
    .personal-info .skills{
        background-color: #585e5b;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; 
        position: relative;  
        transition: 0.2s;
        box-shadow: 0px 0px 30px ;
        text-transform: capitalize;
        animation: appear 3s linear;
        animation-timeline: view();
        animation-range: entry 0% cover 40%;

    }
    @keyframes appear {
        from{
            opacity: 0;
            scale: 0.3;
            
        }
        to{
            opacity: 1;
            scale: 1;
        }
    }

    .personal-info .skills h2{
        position: absolute;
        top: 30px;
        font-size: 2rem;
        color: #c4cbca;
    }

    .personal-info .skills li{
     list-style: none;
     padding: 10px;
     display: inline-block;
     font-size: 1.5rem;
    }
    .personal-info .qualification{
        background-color: #585e5b;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; 
        position: relative;  
        transition: 0.2s;
        box-shadow: 0px 0px 30px ;
        text-transform: capitalize;
        animation: appear 3s linear;
        animation-timeline: view();
        animation-range: entry 0% cover 20%;

    }
    .personal-info .qualification h2{
        text-transform: capitalize;
        position: absolute;
        top: 30px;
        font-size: 1.5rem;
        color: #c4cbca;
        left: 55px;
    }
    .personal-info .qualification li{
        list-style: none;
        padding: 10px;
        font-size: 1.5rem;
       }
    .personal-info .skills:active{
        box-shadow: 10px 20px 30px ;
        transform: translateY(-10px);
    }
    .personal-info .qualification:active{
        box-shadow: 10px 20px 30px ;
        transform: translateY(-10px);
    }
    .content{
        animation: smooth-appear 3s linear;
        animation-timeline: view();
    }
    @keyframes smooth-appear {
        from{
            opacity: 0;
            scale: 0.6;
        }
        to{
            opacity: 1;
        }
    }
    .footer{
        margin-top: 20px;
        height: 10vh;
      background-color: #c4cbca;
     transform: translateY(-100px);
     /* position: absolute;
     bottom: 0px; */
    }

    #Footer-msg{
        color:#585e5b;
        text-align: center;
        text-transform: capitalize;
        padding: 20px;
        font-size: 1.3rem;
    }
    #dev-name{
        color: #f2f2f2;
        text-decoration: underline #585e5b;
        font-size: 1rem;
    }
    body{
        background-color: #d9e0df;
        height: 0px;
    }

}

